<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TetraMeet</title>
  </head>
  <body>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        <ul>
          <li class="loc-caption" title="location 1">
            <img id="loc1" src="./assets/images/logo.png" />
          </li>
          <li class="loc-caption" title="location 2">
            <img id="loc2" src="./assets/images/logo.png" />
          </li>
          <li class="loc-caption" title="location 3">
            <img id="loc3" src="./assets/images/logo.png" />
          </li>
        </ul>

        {{ content }}

      </section>

    </div>
  </body>
</html>
